body{
    font-family: sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
    /*nav en tete*/
h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

header{
    height: 100px;
}
.foot{
    height: 80px;
    background-color: #c5c5c5;
    border-top: 2px solid #aaa;
    padding-top: 3PX;
}

nav{
    width: 100%;
    border-top: 3px solid rgb(236, 219, 192);
    background-color:#424558;
}
nav ul{
    margin: 0px;
    padding: 0px;
}
.foot p{
    text-align: center;
}
nav li{
    list-style-type: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 30px;
    color: #FFF;
    font-size: 15px;
}
.div1{
    display: table;
    margin: 0px auto;
    color: white;
}
.present1, .ind :hover{
    border-top: 5px solid #4C8;
    background-color: rgba(64, 200, 130, 0.15);
}
.reco, .present2, .exp :hover{
    border-top: 4px solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15)
}
.hoob :hover{
    border-top: 5px solid #08700888;
    background-color: rgba(000, 112, 192, 0.15);
}
.pressent, .cont :hover{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}
nav :hover a{
    padding: 15px 30px 20px 30px;
}

    /*nav section*/

section .present1, .reco, .pressent{
    width: 100%;
    height: 300px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.sec{
    float: left;
    width: 100%;
}
.left img{
    width: 37%;
}

.sec h3{
    margin-left: 8%;
}
.sec h2{
    margin-left: 8%;
}
.left{
    float: left;
    width: 30%;
    margin-left: 8%;
    
}
.right{
    position: left;
    width: 70%;
    margin-left: 8%;
}


.pressent, .reco{
    margin-bottom: 0px;
    padding-top: 10px;
}


/*hoobes.html*/

.red-para1, .red-para2, .red-para3{
    width: 100%;
    margin-bottom: none;
    padding-top: 10px;
}
.red-para1{
   border-top: 5px solid green;
   background-color: rgb(6, 255, 6, 0.15);
}
.red-para2{
   border-top: 5px solid yellow;
   background-color: rgb(211, 211, 24, 0.15);
}
.red-para3{
    border-top: 5px solid red;
    background-color: rgba(250, 1, 1, 0.15)
 }


.sousleft img, .sousright img{
    width: 90%;
    
}

.sous{
    width: 100%;
    margin-bottom: 0px;
    padding-top: 10px;
    
}
.sousleft{
    float: left;
    width: 45%;
    margin-left: 9%;
    
}
.sousright{
    margin-left: 4%;
    width: 40%;
    float: left;
}




section::after{
    content: "";
    display: table;
    clear: both;
}


/*section contacte*/
.rouge{
    border-top: 5px solid  red;
    background-color: rgb(241, 16, 16, 0.15);
    margin-bottom: 0px;
}
.para-11{
    
    width: 100%;
    position: left;
}

.rouge-haut{
   
    width: 45%;
    margin-left: 8%;
    margin-bottom: 5%;
    float: left;
}
.rougehaut{
    
    width: 40%;
    margin-left: -8%;
    margin-top: 10%;
    float: left;
}

@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 20px;
        margin: 20px 0px 0px 0px;
    }
}



